NEXT_PUBLIC_API_URL=http://localhost:5001
NEXT_PUBLIC_SITE_URL=http://localhost:3001
HOME_CONTENT_REVALIDATE_SECONDS=86400
HOME_GALLERIES_REVALIDATE_SECONDS=86400
HOME_BLOGS_REVALIDATE_SECONDS=86400
MUSIC_TRACKS_REVALIDATE_SECONDS=864000
